*{
    box-sizing: border-box;
}
.flexBoxRow {
    display: flex;
    
    
   
}

.flexBoxColumn {
    flex: 33%;
    padding: 20px;
    background-color: aqua;


}
@media screen and (max-width: 900px) {
    .flexBoxColumn {
        flex:50%;
        
        background-color: green;
    }
}

@media screen and (max-width: 600px) {
    .flexBoxRow {
        flex-direction: column;
        .flexBoxColumn{
            background-color: blueviolet;
        }

    }
}